<div class="container">
    <div class="row">
        <div class="col-3">
            <h3 class="petate">Maleta de Barco nº1</h3>
            <app-maletab></app-maletab>
        </div>
        <div class="col-3">
            <app-lista></app-lista>
        </div>
        <div class="col-3">
            <h3 class="petate">Maleta de Barco nº2</h3>
            <app-maletab></app-maletab>
        </div>
        <div class="col-3">
            <app-lista></app-lista>
        </div>
        <div class="col-3">
            <h3 class="petate">Maleta de Barco nº3</h3>
            <app-maletab></app-maletab>
        </div>
        <div class="col-3">
            <app-lista></app-lista>
        </div>
        <div class="col-3">
            <h3 class="petate">Maleta de Barco nº4</h3>
            <app-maletab></app-maletab>
        </div>
        <div class="col-3">
            <app-lista></app-lista>
        </div>
        <div class="col-3">
            <h3 class="petate">Maleta de Cabina</h3>
            <app-maletac></app-maletac>
        </div>
        <div class="col-3">
            <app-lista></app-lista>
        </div>

    </div>
</div>