<div class="p-2 tipo-m">Nueva Maleta de Barco</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <div>
          <img
            class="maleta-nueva"
            src="assets/maletaB.png"
            alt="Maleta de Barco"
          />
          <div class="row">
            <div class="col-12 progress">
              <div class="progress-value">%</div>
              <!-- En esta barra, una vez implementado todo, se irá recogiendo el peso total de los elementos cargados -->
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <form class="col-12">
          <div>
            <div class="row">
              <div class="col-12">
                <label class="nombre-campo" > Fecha de Despliegue: </label>
                <input type="date" class="form-control" #fecha/>
                <label class="nombre-campo">Fecha Entrega (aprox.):</label><p><input type="button" value = "Calcular" class="ver" (click)="getFechaEntrega(fecha.value)"><span class="nombre-campo"> {{resultado | date : "dd/MM/yyyy"}}</span></p>
                <br/>
                <label class="nombre-campo">Peso</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="de su maleta vacía"
                  min="0"
                  step="any"
                />
                <div class="row">
                  <div class="col-6">
                    <button type="reset" class="btn btn-primary resetear">
                      Resetear
                    </button>
                  </div>
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary enviar">
                      Enviar
                    </button>
                  </div>
                </div>
                <div class="botonera">
                  <button id="aceptar" class="boton-primario">Aceptar</button>
                  <button id="cancelar" class="boton-primario">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--  Este es el listado de material que se puede cargar en las diferentes maletas. Entre parentesis, marcado como (kg), irá en un futuro el peso
          de cada elemento de tal manera que se vaya sumando a un contador (barra de progreso) hasta llegar al peso límite permitido para cada tipo de maleta -->
          <div class="col">
            <app-listadomaterial></app-listadomaterial>
        </div>
    </div>
  </div>
</div>
