<img class="col-5 mbarco img-fluid" src="assets/maletaB.png" alt="Maleta de barco 1" />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="cargarLista()">
  Ver Contenido
</button>

<!-- Con este modal se podrá en el futuro ver el listado de material contenido dentro de la maleta y podrá editarse el mismo -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contenido</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <ul class="list-group" *ngFor="let elemento of elementos">
                    <li class="list-group-item d-flex justify-content-between align-items-center disabled">
                        {{elemento.nombre}}, ({{elemento.peso}} Kg)
                        <span class="badge badge-secondary badge-pill">cantidad</span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
                <button type="button" class="btn btn-secondary" routerLink="maletabarco">
          Editar Contenido
        </button>
            </div>
        </div>
    </div>
</div>