<div class="col">
  <div class="list-items">
      <div class="item">
          <input type="checkbox">
          <label>ALBORNOZ (kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>BOLSA ASEO(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>BOLSA LAVADO ROPA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>BOTAS FRIO(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>BOTAS GORETEX(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>BOTAS LIGERAS(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>BUFANDA TUBULAR (kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CALCETINES DEPORTE(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CALCETINES GRUESOS(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CAMISETA M/C GRIS(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CAMISETA M/C ARIDO(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CAMISETA M/L ARIDO(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CAMISETA TACTICA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CANTIMPLORA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CHAMBERGO(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CHANDAL(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CINTURÓN (kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>COMPLEMENTO SACO(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>CUBIERTOS CAMPAÑA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>ESTERA AISLANTE(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>FORRO P. INTERIOR(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>FORRO POLAR PIX.(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>FUNDA VIVAC(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>GABATA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>GAFAS DE VENTISCA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>GORRO FRIO EXT.(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>GORRO LANA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>GUANTES FRIO(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>MANOPLAS FRÍO(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>MANTA TERMICA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>ORELLER(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>PANTALON CORTO DEP.(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>POLAINAS(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>SACO DE DORMIR(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>SUDADERA DEPORTE(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>TECHO VIVAC(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>TIENDA INDIVIDUAL(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>TOALLA GRANDE(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>TOALLA PEQUEÑA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>TRAJE FRIO(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>TRAJE INTEMPERIE(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>TRAJE INTERIOR(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>UNIFORME CAMPAÑA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>ZAPATILLASDEPORTE(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
      <div class="item">
          <input type="checkbox">
          <label>ZAPATILLAS DUCHA(kg)</label>
          <span><input type="number" min="0" class="cantidad" placeholder="cant."></span>
      </div>
  </div>
</div>

