<header>
    <h1>
        <img class="icono-comando" src="assets/iconoComando.png" alt="iconoComando" /> COMANDO
    </h1>
    <h3 id="subtitulo">
        Control y Organización del Material Necesario para el Despliegue en Operaciones
    </h3>
    <div class="container-fluid">
        <form class="form-inline">
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Administrador" />
            <input type="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputGroupUsername2" placeholder="Contraseña" />
            <button type="submit" class="btn btn-primary mb-2">Aceptar</button>
        </form>
    </div>
    <nav class="navbar">
        <button class="nav-boton" onclick="accion()">Menú</button>
        <ul class="navegacion col-12">
            <li class="lista-enlace">
                <a routerLink="" class="enlace desaparece">Inicio</a>
            </li>
            <li class="dropdown lista-enlace" id="nuevaMaleta">
                <a class="enlace desaparece">Nueva Maleta</a>
                <div class="dropdown-content">
                    <a class="" routerLink="maletabarco">Maleta de Barco</a>
                    <a class="" routerLink="maletacabina">Maleta de Cabina</a>
                </div>
            </li>
            <li class="lista-enlace">
                <a routerLink="/maletas" class="enlace desaparece">Mis Maletas</a>
            </li>
        </ul>
    </nav>
</header>